<!doctype html>
<!-- The DOCTYPE declaration above will set the    -->
<!-- browser's rendering engine into               -->
<!-- "Standards Mode". Replacing this declaration  -->
<!-- with a "Quirks Mode" doctype may lead to some -->
<!-- differences in layout.                        -->

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset='utf-8' />

    <!--                                                               -->
    <!-- Consider inlining CSS to reduce the number of requested files -->
    <!--                                                               -->
    <link rel="stylesheet" href="base.css">
    <!--                                           -->
    <!-- Any title is fine                         -->
    <!--                                           -->
    <title>Angular GWT - Tipcalc example</title>

    <!--                                           -->
    <!-- This script loads your compiled module.   -->
    <!-- If you add any GWT meta tags, they must   -->
    <!-- be added before this line.                -->
    <!--                                           -->
    <script src="tipcalc/tipcalc.nocache.js"></script>
</head>

<!--                                           -->
<!-- The body can have arbitrary html, or      -->
<!-- you can leave the body empty if you want  -->
<!-- to create a completely dynamic UI.        -->
<!--                                           -->
<body>
<section id="todoapp" >
    <header id="header">
        <h1>Tip Calc</h1>

        <form id="form" bean-validate="tipModel" ng-controller="TipCtrl">
            <label>Bill Amount</label>
            <input name="billAmount" placeholder="Enter Bill Amount"
                   ng-model="tipModel.billAmount"
                   autofocus><br>
            <p ng-show="tipModel.$beanErrors.billAmount">Failed bean Validation:
            Error: {{tipModel.$beanErrors.billAmount}}</p>
            <label># of People</label>
            <input id="bill-ppl" placeholder="Number of People"
                   ng-model="tipModel.numPeople"><br>
                   <p ng-show="tipModel.$beanErrors.numPeople">Failed bean Validation:
            Error: {{tipModel.$beanErrors.numPeople}}</p>
            <label>% Tip</label>
            <input id="bill-pct" placeholder="Percentage"
                   ng-model="tipModel.percentage"><br>
                   <p ng-show="tipModel.$beanErrors.percentage">Failed bean Validation:
            Error: {{tipModel.$beanErrors.percentage}}</p>
            <label>Tip Amouunt</label>
            <div>{{tipModel.tip | currency}}</div><br>
            <label>Final Bill</label>
            <div>{{tipModel.finalBill | currency}}</div><br>
            <label>Per Person</label>
            <div>{{tipModel.finalBill / tipModel.numPeople | currency}}</div>
        </form>
    </header>
</section>
    <p style="color: black">
        <a href="http://github.com/cromwellian/angulargwt">Using AngularGWT</a>
    </p>
</footer>
</body>
</html>
